<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <title>All Pokemon</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <div>
        <div>
            <a href="/">Back</a>
        </div>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Types</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pokemon : ${pokemons}">
                <td>
                    <a th:href="@{/pokemon/name(name=${pokemon.name})}" th:text="${pokemon.name}"/>
                </td>
                <td th:text="${pokemon.number}"></td>
                <td th:text="${pokemon.types}"></td>
            </tr>
            </tbody>
        </table>
        <div>
            <a href="/">Back</a>
        </div>
    </div>

</body>
</html>