<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <title>Pokemon Data</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div>
    <table>
        <h2>Pokemon Info</h2>
        <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Types</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${pokemon.name}"></td>
            <td th:text="${pokemon.number}"></td>
            <td th:text="${pokemon.types}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <table>
        <h3>Weaknesses</h3>
        <p>Higher values indicate a greater weakness to that attacking type.</p>
        <thead>
        <tr>
            <th>Type</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="typeName: ${weaknessMap.keySet()}">
            <td th:text="${typeName}"></td>
            <td th:text="${weaknessMap.get(typeName)}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>